body {
	background-color:#A3A2A2;
	color:#363636;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 16px;
	font-weight: normal;
	
	
}

a{
	text-decoration:none;
	color: #D2CDCD;
	font-family: Tahoma;
}
a:hover{	
	color: white;
}

.box1{
	background-color: white;
	border: 7px #9e2929 solid;
	padding-left: 5px;
}
.container{
	padding-top: 50px;
	width: 80%;
	margin: auto;
} 
.navbar{
	height: 50px;
	box-shadow: 1px 1px 1px 2px #242424;
	background-color:#343333;
	margin-bottom: 10px;
	border-radius: 5px;
	align-content: center;
}


.box1 h1{
	font-family: Arial;
	font-weight: 800px;
	font-style: italic;
	
}
.navbar ul{
	list-style: none;
	text-align:center;

	
	
	
}
.navbar ul li{
	float:left;
	padding-left:5%;
	padding-right:50px;
	font-size: 12px;
	/* margin-right: 20px;	 */
	width:100;
	padding-top: 18px;
	
}
.navbar a{
	line-height: 15px;	
}
.navbar img {
	float:left;
}














